<ngx-ui-loader></ngx-ui-loader>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <app-side-bar-left-user-templates *ngIf="infosUser.typeCompte == 'user'"></app-side-bar-left-user-templates>

        <app-side-bar-left-admin-templates *ngIf="infosUser.typeCompte == 'admin'"></app-side-bar-left-admin-templates>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar  start Nav -->

                <app-nav-admin-templates *ngIf="infosUser.typeCompte == 'admin'"></app-nav-admin-templates>

                <app-nav-user-templates *ngIf="infosUser.typeCompte == 'user'"></app-nav-user-templates>



                <!-- End of Topbar end Nav -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <!-- <div class="d-sm-flex align-items-center justify-content-between mb-4">
              <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
              <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
            </div>-->


                    <div class="row">

                        <!-- Content Column -->
                        <div class="col-lg-6 mb-4">

                            <div class="alert alert-danger" *ngIf="isErreurUpdateProfil">
                                <strong>{{'profil_user_div_alertalertdanger_strong1' | translate}}</strong> {{'profil_user_div_alertalertdanger modification' | translate}}
                            </div>

                            <div class="alert alert-success" *ngIf="isvalidUpdateProfil">
                                Votre profil a été mis à jour avec Succès
                            </div>


                            <form class="form-horizontal" #updateProfilForm="ngForm" (ngSubmit)="onFormSubmitUpdateProfil()">

                                <div class="card mb-4 py-3 border-left-primary">
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label>{{'profil_user_nom_label' | translate}} : </label>
                                            <input type="text" class="form-control" [(ngModel)]="ObjetUpdateProfil.nom" name="nom" placeholder="votre nom *" required value="" />
                                        </div>
                                    </div>
                                </div>

                                <div class="card mb-4 py-3 border-left-primary">
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label>{{'profil_user_prenom_label' | translate}} : </label>
                                            <input type="text" class="form-control" [(ngModel)]="ObjetUpdateProfil.prenom" name="prenom" placeholder="votre prenom *" required value="" />
                                        </div>
                                    </div>
                                </div>

                                <div class="card mb-4 py-3 border-left-primary">
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label>{{'profil_user_mail_label' | translate}} : </label>
                                            <input type="text" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" [(ngModel)]="ObjetUpdateProfil.login" name="login" placeholder="Your Email *" required value="" />
                                        </div>
                                    </div>
                                </div>


                                <div class="card mb-4 py-3 border-left-primary">
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label>{{'profil_user_mail_label' | translate}} : </label>

                                            <select class="form-control" [(ngModel)]="ObjetUpdateProfil.sex" name="sexInscription" required value="">
              
                                  <option  value="">Selectionner votre sexe</option>                                
                                  
                                  <option *ngFor="let option of arrayListSex"   [value]="option.key" >{{option.value}}</option>          
                                 
                          </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="card mb-4 py-3 border-left-primary">
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label>{{'profil_user_mdp_label' | translate}}</label>
                                            <input type="password" class="form-control" [(ngModel)]="ObjetUpdateProfil.password" name="password" placeholder="Your Password *" required value="" />
                                        </div>
                                    </div>
                                </div>

                                <div class="control-group form-group">

                                    <div #recaptcha></div>
                                </div>

                                <div class="alert alert-danger" *ngIf="isErreurCaptcha">
                                    <strong>{{'profil_user_div_alertalertdanger_strong2' | translate}}</strong> {{'profil_user_div_alertalertdanger' | translate}}
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block" [disabled]="!updateProfilForm.form.valid">{{'profil_user_button_btnbtnprimarybtnblock' | translate}}</button>
                                </div>

                            </form>
                        </div>

                        <div class="col-lg-4 mb-4">

                            <div class="add-photo-container">
                                <div class="card mb-4 py-3 border-left-primary">
                                    <div class="card-body">
                                        <mat-card class="add-photo-card">

                                            <mat-card-header>

                                                <mat-card-title>{{'profil_user_img_label' | translate}}</mat-card-title>

                                            </mat-card-header>

                                            <img mat-card-image [src]="urlImageProfil" alt="" style="width:25%;margin-left: 30%;">

                                            <div>

                                                <table>

                                                    <tr>
                                                        <td>
                                                            <input #imageInput type="file" (change)="imageInputChange(imageInput)" accept="image/*" />

                                                        </td>

                                                        <td>
                                                            <!-- <button mat-raised-button color="blue" (click)="addImage()"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> Modifier </button>-->

                                                            <button class="btn btn-light btn-icon-split" (click)="addImage()">
                                      <span class="icon text-gray-600">
                                        <i class="fas fa-arrow-right"></i>
                                      </span>
                                      <span class="text"> {{'profil_user_span_text_label' | translate}}</span>
                                    </button>
                                                        </td>

                                                    </tr>

                                                </table>


                                            </div>

                                        </mat-card>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <app-footer-admin-templates *ngIf="infosUser.typeCompte == 'admin'"></app-footer-admin-templates>

            <app-footer-user-templates *ngIf="infosUser.typeCompte == 'user'"></app-footer-user-templates>

            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary">Logout</button>
                </div>
            </div>
        </div>
    </div>



</body>